<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sener35gmail.burak.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Second_Screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SECOND_SCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDeceasedInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanEpitaph"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactGraveCaregiver"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowMyDeceased"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowGraveCareGivers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindDeceasedProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OCR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidCameraRecognition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".showSearchedData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeceasedProfile"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3343180155039030~8172843888" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity android:name=".GetCurrentLocationActivity" />
        <activity android:name=".ShowDeceasedComments" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditDeceasedProfile"
            android:theme="@style/AppTheme" />
        <activity android:name=".SendMessageToAuthenticatedUser" />
        <activity android:name=".ChatMessageUsertoUser" />
        <activity android:name=".ExampleCaregivers" />
        <activity
            android:name=".TextRecognition"
            android:label="@string/title_activity_text_recognition"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppThemeActionBar" /> <!-- optional (needed if default theme has no action bar) -->

        <activity android:name=".TextRecognitionResult"></activity>
    </application>

</manifest>